<div class="grid grid-cols-2 gap-4">
  <div class="flex items-center gap-3">
    <div class="bg-[#A49F67] w-[35px] flex justify-center items-center h-[35px] rounded-full">
      <i class="fa fa-shield text-white text-xl" aria-hidden="true"></i>
    </div>
    <h3 class="text-[12px] sm:text-sm uppercase font-semibold">Secure Payments</h3>
  </div>
  <div class="flex items-center gap-3">
    <div class="bg-[#A49F67] w-[35px] flex justify-center items-center h-[35px] rounded-full">
      <i class="fa fa-truck text-white text-xl" aria-hidden="true"></i>
    </div>
    <h3 class="text-[12px] sm:text-sm uppercase font-semibold">Free Shpping</h3>
  </div>
  <div class="flex items-center gap-3">
    <div class="bg-[#A49F67] w-[35px] flex justify-center items-center h-[35px] rounded-full">
      <i class="fa fa-undo text-white text-xl" aria-hidden="true"></i>
    </div>
    <h3 class="text-[12px] sm:text-sm uppercase font-semibold">Free Return</h3>
  </div>
  <div class="flex items-center gap-3">
    <div class="bg-[#A49F67] w-[35px] flex justify-center items-center h-[35px] rounded-full">
      <i class="fa fa-plus-circle text-white text-xl" aria-hidden="true"></i>
    </div>
    <h3 class="text-[12px] sm:text-sm uppercase font-semibold">Safety Certified</h3>
  </div>
</div>