<div id="searchInput" class="px-3 py-5 fixed top-0 left-0 w-screen min-h-screen bg-gray-700/70 z-[9999] opacity-0 invisible transition-all">
  <div class="mt-[50px] lg:w-[500px] mx-auto" onclick="
    event.stopPropagation()">
    <form action="{{ routes.search_url }}">
      <label class="w-full input flex items-center gap-2">
        <input
          type="text"
          class="grow"
          placeholder="Search..."
          name="q"
          value="{{ search.terms | escape }}" />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 16 16"
          fill="currentColor"
          class="w-4 h-4 opacity-70"><path
            fill-rule="evenodd"
            d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
            clip-rule="evenodd" /></svg>
      </label>
    </form>
  </div>
</div>
<button id="btnSarch" class="btn btn-ghost hover:bg-[#E3D6C5] btn-circle">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-5 w-5"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"><path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /></svg>
</button>


<script>
  document.addEventListener("DOMContentLoaded", () => {
    const searchInput = document.querySelector("#searchInput");
    const btnSearch = document.querySelector("#btnSarch");
    
    btnSearch.addEventListener("click", () => {
      if(searchInput.classList.contains("opacity-0") && searchInput.classList.contains("invisible"))
      {
        searchInput.classList.remove("opacity-0", 'invisible');
        searchInput.classList.add("visible", 'opacity-100');
      }else {
        searchInput.classList.add("opacity-0", 'invisible');
        searchInput.classList.remove("visible", 'opacity-100');
      }
    });
  
    searchInput.addEventListener("click", () => {
      if(searchInput.classList.contains("opacity-100") && searchInput.classList.contains("visible"))
      {
        searchInput.classList.add("opacity-0", 'invisible');
        searchInput.classList.remove("visible", 'opacity-100');
      }
    });
  
  });
</script>