{% if customer %}
  <script>
      window.location.href = "{{routes.root_url}}"
  </script>
{% else %}
  <div class="py-[30px]">
    <h2 class="text-4xl font-bold text-center mb-8">Reset Account Password</h2>
    <div class="max-w-md mx-auto bg-white p-8 shadow-lg rounded-lg">
      {% form 'reset_customer_password'
        , return_to: routes.root_url %}
        <div class="text-red-500 mb-3">
          {{ form.errors | default_errors }}
        </div>

        <div class="mb-4">
          <label for="Password" class="block text-sm font-medium text-gray-700">Password</label>
          <input
            type="password"
            id="Password"
            name="customer[password]"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            required>
        </div>

        <div class="mb-4">
          <label for="PasswordConfirmation" class="block text-sm font-medium text-gray-700">Confirm password</label>
          <input
            type="password"
            id="PasswordConfirmation"
            name="customer[password_confirmation]"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            required>
        </div>

        <div class="mb-4">
          <button type="submit" class="w-full inline-flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Reset Password
          </button>
        </div>
      {% endform %}
    </div>
  </div>
{% endif %}
{% schema %}
  {
    "name": "Main Reset Password",
    "settings": []
  }
{% endschema %}